.dropDownTrigger {
  position: relative;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  right: 2.7rem;
}
.categoryTitle {
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.dropDown {
  height: 300px;
  width: 59vw;
  background-color: #242424;
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  display: flex;
  animation: fadeIn 0.3s ease forwards;
  z-index: 100;
  justify-content: space-around;
}
.dropDown * {
  color: white;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;

    transform: translateY(10px);
  }
}
.categoriesFlex {
  background-color: #3f3f40;
  border-radius: 20px;
  padding: 1rem 2rem 3rem;
}
.categoriesFlex div {
  font-size: 1.1rem;
  font-weight: bold;
}
.outras {
  background-color: #2a2a2a;
  font-size: 12px;
  padding: 1rem 1rem;
  border-radius: 20px;
  max-width: 350px;
  margin-right: 3rem;
}
.mais {
  flex: 1;
}
.ulOutras,
.ulMais {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ulOutras {
  max-width: 180px;
}
.ulMais {
  gap: 2rem;
  margin-top: 1rem;
}

.ulMais li,
.ulOutras li {
  list-style-type: none;
}
.ulOutras li span,
.span2 {
  position: relative;
  top: 2px;
  margin-left: 2px;
  opacity: 0;
  transform: translateX(0);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  display: inline-block;
}

.ulOutras li:hover span,
.ulMais li:hover .span2 {
  opacity: 1;
  transform: translateX(8px);
}
.link2:hover,
.link2:hover {
  color: rgba(100, 100, 100, 0.9);
}
.ulOutras li {
  margin-bottom: 1rem;
}
.ulOutras:nth-child(1) {
  margin-top: 1rem;
}

.ulMais li {
  font-weight: bold;
  text-align: left;
  display: block;
  padding: 0.2rem;
}
.maisDesc {
  display: block;
  text-align: left;
  max-width: 200px;

  padding: 7px;
  font-size: 12px;
  font-weight: normal;
}
.link,
.link2 {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 1319px) {
  .dropDownTrigger {
    display: none;
  }
  .categoryTitle {
    display: none;
  }
}
