.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pilates {
  font-size: 15rem;
  font-weight: 901;
  letter-spacing: -9px;
}
.top {
  margin-bottom: -3rem;
}
.bottom {
  font-size: 20px;
  text-align: center;
  max-width: 619px;
  margin-top: -2.7rem;
}
.arrow {
  position: relative;
  top: 7.5rem;
  animation: bouncePause 6s ease-in-out infinite;
}
@keyframes upDown {
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bouncePause {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-10px);
  }
  10% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-10px);
  }
  20% {
    transform: translateY(0);
  }

  /* Stay still until 100% (4 seconds idle) */
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 750px) {
  .pilates {
    font-size: 12rem;
  }
  .bottom {
    font-size: 1rem;
  }
}
@media (max-width: 640px) {
  .pilates {
    font-size: 9rem;
  }
  .bottom {
    font-size: 0.8rem;
    margin-top: -2rem;
    max-width: 450px;
  }
  .top {
    margin-bottom: -2rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 443px) {
  .pilates {
    font-size: 8.1rem;
  }
  .bottom {
    font-size: 0.7rem;
    margin-top: -1rem;
    max-width: 300px;
  }
  .top {
    margin-bottom: -1.5rem;
    font-size: 0.5rem;
  }
  .container {
    min-height: 80vh;
    overflow: hidden;
  }
}

@media (max-width: 360px) {
  .pilates {
    font-size: 6.8rem;
  }
  .bottom {
    font-size: 0.6rem;
  }
}
